<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
    <title>Admin panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/custom.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/sweetalert.min.js" type="text/javascript"></script>

</head>
<body>
<div id="header">
</div>
<!--top-Header-menu-->

<div class="body-wrapper">

    <div class="row" style="margin-top: 20px;">
        <div><a href="/"  class="btn btn-primary">Back</a> </div>
        <h3>Admin panel</h3>

        <div class="panel panel-default">
            <div class="panel-heading">Notifications</div>
            <div class="panel-body">

                Phone:
                <input type="text" class="form-control" th>
                </input>


            </div>


            </div>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading">Notifications</div>
            <div class="panel-body">

                <table id="topics-datatable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Source</th>
                        <th>Ip Address</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr th:each="notification : ${notifications}">
                            <td th:text="${notification.time}"></td>
                            <td th:text="${notification.source}"></td>
                            <td th:text="${notification.ipAddress}"></td>
                        </tr>


                    </tbody>
                </table>

            </div>


        </div>



    </div>

</div>
</div>
</div>


</body>
</html>