<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Spring Freemarker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

</head>
<body>
<div id="header">
    <h1><a href="dashboard.html">Matrix Admin</a></h1>
</div>
<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">


    </ul>
</div>
<div class="body-wrapper">

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.
    </div>

    <h3>Servers</h3>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add server
            </div>
            <div class="panel-body">
                <form name="server" action="/server/add" method="POST">

                    <div class="form-group">
                        <label for="name">
                            Name
                        </label>
                        <input type="text" class="form-control" name="name" required >
                    </div>

                    <div class="form-group">
                        <label for="ip">
                            IP
                        </label>
                        <input type="text" class="form-control" name="ip" required>
                    </div>

                    <div class="form-group">
                        <label for="port">
                            Port
                        </label>
                        <input type="number" class="form-control" name="port" required>
                    </div>

                    <div class="form-group">
                        <label for="taskPath">
                            Task path
                        </label>
                        <input type="text" class="form-control" name="taskPath" required >
                    </div>

                    <div class="form-group">
                        <label for="maxLoad">
                            Max load
                        </label>
                        <input type="number" class="form-control" name="maxLoad" required >
                    </div>
                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Server name</th>
                <th>Server path</th>
                <th>Server running tasks</th>
                <th>Server maxLoad</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>


            </tbody>
        </table>
    </div>


    <div class="row">
        <h3>Tasks</h3>
        <table id="datatable" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Task id</th>
                <th>Task server</th>
                <th>Task status</th>
                <th>Start time</th>
                <th>End time</th>
            </tr>
            </thead>
            <tbody>


            </tbody>
        </table>
    </div>
</div>
</div>

<script>
    $("#datatable").DataTable( {
        "order": [[ 3, "desc" ]]
    });

</script>
</body>
</html>